{% extends "base.html" %}
{% block content %}
<div class="account-area mt-70 mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="basic-login mb-50">
                    <h3>Forgot Password</h3>
                    <hr>                  
                    <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="email-id" class="text-left d-block">Email Address</label>
                        <input id="-id" type="text" class="form-control" placeholder="Enter Email address" required name="email">
                    </div>  
                    <button type="submit" class="btn btn-warning tp-in-btn w-100">Send Confirmation Link</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}