{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br>
<div class="row">
  <form class="col-10" Method='GET'>
    <div class="row">
      <div class="col-8">
        <div class="input-group">
          <input type="search" class="form-control rounded" name="q" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
          <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>Search</button>
        </div>
      </div>
      <div class="col">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Filter By
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="?filter=creation_date">Creation date</a>
              <a class="dropdown-item" href="?filter=due_date">Due date</a>
              <a class="dropdown-item" href="?filter=priority">Priority</a>
              <a class="dropdown-item" href="?filter=completed">Completed Task</a>
              <a class="dropdown-item" href="?filter=active">Active Task</a>
          </div>
      </div>
      </div>
    </div>
  </form>
<form class="col " method="POST">
    <div><a href="{% url 'task_entry' %}" class="btn btn-warning">Add Task</a></div>
</form>
</div>

<hr>
<div class="row">
  {% for task in tasks  %}
<div class="col-4 py-2">
  <div class="card" style="width: 18rem;">
    <a href="{% url 'task_detail' task.id %}" style="text-decoration: none;color: black;">
      <div class="card-body">
        
        <div class="row justify-content-center align-items-center" style="font-size: 0.8rem;">
          <section class="col-8" >Deadline: {{task.due_date}}</section>
          <section class="col-4"
          style="{% if task.priority == 'low' %}background-color:lightgreen{% elif task.priority == 'medium' %}background-color:lightyellow{% elif task.priority == 'high' %}background-color:lightcoral{% endif %}"
          >{{task.priority}}</section>
        </div>
        <h5 class="card-title">{{task.title}}</h5>
        <hr>
        <p class="card-text">{{task.description}}</p>
      </div>
    </a>
    <div class="row">
      <div class="col">
          <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="task_id" value="{{ task.id }}">
              {% if task.task_complete %}
              <input type="submit" name="submit" value="Task Completed" class="btn btn-secondary btn-block" disabled>
              {% else %}
              <input type="submit" name="submit" value="Mark As Complete" class="btn btn-warning btn-block">
              {% endif %}
          </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock content %}